<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>新增</title>
    <style>
        body{text-align:center}
    </style>
</head>

<body>

<h2>添加学生信息</h2>
<form th:object="${student}" method="post">

    <div class="form-group has-feedback">
        <p>学生学号: <input type="text" th:field="*{id}" /></p>
        <p>学生姓名: <input type="text" th:field="*{name}" /></p>
        <p>学生性别: <input type="text" th:field="*{sex}" /></p>
        <p>出生年月: <input type="text" th:field="*{birthDate}" /></p>
        <p>家庭住址: <input type="text" th:field="*{nativePlace}" /></p>
        <p>学生院系: <input type="text" th:field="*{department}" /></p>

        <p><input type="submit"  value="添加学生" /></p>
    </div>
</form>
<br />
<a href="/manager/">返回首页</a>

</body>
</html>
